<div class="row dashboard">
    <div class="nav-side-menu">
        <div class="brand">Dashboard</div>
        
        <div class="menu-list">
                <li  data-toggle="collapse" data-target="#admin-services" class="collapsed active">
                    <a href="#"><span class="glyphicon glyphicon-chevron-down"></span> Administrative Services </a>
                </li>
                    <ul class="sub-menu collapse" id="admin-services">
                        <li class="active"><a ui-sref="app.dashboard.addnewclass">Add New Course</a></li>
                        <li><a ui-sref="app.dashboard.enrollstudents">Enroll Student</a></li>
                        <li><a ui-sref="app.dashboard.addnewstudent">Register Student</a></li>
                        <li><a href="#">Register Instructor</a></li>
                    </ul>
                <li data-toggle="collapse" data-target="#academic-service" class="collapsed">
                    <a href="#"><span class="glyphicon glyphicon-stats"></span> Academic Services </a>
                </li>  
                <ul class="sub-menu collapse" id="academic-service">
                    <li><a ui-sref="app.dashboard.updtstudentrec">Update Student Record</a></li>
                    <li><a ui-sref="app.dashboard.updatecourse">Edit Courses</a></li>
                    <li><a ui-sref="app.dashboard.marks">Add Student Marks</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#"><span class="glyphicon glyphicon-stats"></span> New </a>
                </li>
                    <li>
                        <a href="#">
                                <span class="glyphicon glyphicon-stats"></span></i> Profile
                        </a>
                    </li>
                    <li>
                    <a href="#">
                            <span class="glyphicon glyphicon-stats"></span> Users
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="dash-content" class="panel panel-info text-center">
        <div class="page-header">
            <h1 style="color:black">Hello {{logUsername}}</h1>
        </div>
        <div class="row charts text-center">
            <div class="col-md-3 float-left">
                    <!-- <canvas  class="chart chart-doughnut" chart-data="dash.aggClassrooms" chart-labels="dash.aggClassrooms.code" data-ng-init="dash.fitChartContainer()"></canvas>  -->
                <table>
                    <thead>
                        <td>Code</td>
                        <td>Title</td>
                        <td>Students</td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="classroom in dash.aggClassrooms">
                            <td>{{ classroom.code }}</td>
                            <td>{{ classroom.name }}</td>
                            <td>{{ classroom.enrolled }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="second-chart-parent" class="col-md-3" data-ng-init="dash.loadCharts()">
                <canvas id="classrooms-chart" class="chart chart-doughnut" chart-data="dash.data" chart-labels="dash.labels" data-ng-init="dash.fitChartContainer()"></canvas> 
            </div>
            <div class="col-md-3 float-right">
                <table>
                    <tr><td><strong>School Average Score: {{ dash.ave | number:2 }}</strong></td></tr>
                    <tr ng-repeat="student in dash.studentMarks|limitTo:4"><td>{{ student.name }}</td><td>{{ student.final }}</td></tr></table>
            </div>
        </div>
        <div ui-view="dashview"></div>
    </div>
</div>