<div class="page-container container-fluid col-md-12 row" data-ng-init="main.getName()">
        <div class="welcome col-md-5" data-ng-init="main.loadWelcome()">
                <h3 class="page-header" ng-show="logUsername">Hello {{logUsername}} </h3>
                <div id="shape1"><a class= "label slide-left" ui-sref="app.login">Administrators</a></div>
                <div id="shape2"><a class= "label slide-right" ui-sref="app.login">Instructors</a></div>
                <div id="rectangle"><a class= "label slide-left" ui-sref="app.login">Students</a></div>
        </div>
        <div class="welcome-content col-md-7 text-right">
                <h3 class="page-header">Sign up Today to one of our classes:</h3>
                <ul>
                        <li>Web Development</li>
                        <li>Mobile App Development</li>
                        <li>UX/UI Design</li>
                        <li>Database Management</li>
                        <li>Network Administration</li>
                        <a href="#">learn more...</a>
                </ul>
                <input type="email" name="mailinglist_name">
                <button type="submit" class="button">Sign up Now  ></button>
        </div>
</div>
<div class="home-section2 col-md-12 text-center">
        <div class="address float-left"><p><strong>1010 Education Street</strong></br>Training City, Knowledge State </br>10204 USA</p></div>
        <div class="social"> Facebook Instagram Twitter</div>
        <div class="news float-right"> News Feed</div>
</div>
        
        
