<div class="page-header">
    <h1>Profile Page for: {{main.logUsername}}</h1>
</div>
<div class="panel panel-info">
    <div class="panel-heading" style="text-align:center;">User Info</div>
    <table class="table">
            <thead>
                <td>Username</td>
                <td>Email</td>
            </thead>
            <tr>
                <td>{{main.logUsername}}</td>
                <td>{{main.logUseremail}}</td>
            </tr>
            <tr>
                <td>Reset Username: {{main.resetUsername()}}</td>
                <td>Reset Password: {{main.resetPassword()}}</td>
            </tr>
        </table>
</div>